body{
    background-color: #393e46;
}

.container{
    width: 70%;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

h1{
    margin: 30px;
    text-shadow: 5px #232921;
    color: #4ecca3;
}

.dice{
    text-align: center;
    display: inline-block;

}

p{
    font: 32px;
    color: #4ecca3;
}

img{
    width: 80%;
}

footer{
    margin-top: 5%;
}